/* *************** */
/* CLIENTS */
/* *************** */
.clients {
  height: 10rem;
  position: relative;

  padding: 1.6rem 0;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }

  &__item {
    width: 11.6rem;
    transition: transform 0.5s;
  }

  &__photo {
    width: 100%;
    filter: grayscale(100%);
    opacity: 50%;
    transition: all 0.3s;

    @media (max-width: $bp-large) {
      width: 9.8rem;
    }

    @media (max-width: $bp-small) {
      width: 8.6rem;
    }
  }

  &__photo:hover {
    filter: grayscale(0);
    opacity: 1;
  }
}
