.portfolio {
  &__filters {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      text-transform: uppercase;
      padding: 0.8rem 1.5rem 1rem 1.5rem;
      font-weight: 600;
      font-size: 1.4rem;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        @include common-btn;
      }
    }

    .filter--active {
      @include common-btn;
    }
  }

  &__photo {
    overflow: hidden;
    background: black;
    transition: all 0.4s;

    img {
      width: 100%;
      object-fit: cover;
      transition: all 0.4s;
      transform: scale(1.1);
    }

    & img:hover {
      transform: scale(1.3);
      opacity: 0.5;
    }
  }

  // Class for filters gallery
  &__photo.hide {
    display: none;
  }

  &__photo.show {
    animation: growInBehind 0.5s ease;
  }
}
