.dots {
  display: flex;
  gap: 0.8rem;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  &__dot {
    height: 1.2rem;
    width: 1.2rem;
    border: 1px solid $color-primary;
    background-color: $color-white;
    border-radius: 50%;
    cursor: pointer;

    @media (max-width: $bp-smallest) {
      height: 1rem;
      width: 1rem;
    }
  }

  &__dot--active {
    background-color: $color-primary;
  }
}
