/*

    --- 01 TYPOGRAPHY SYSTEM
    
      -Font sizes (px):
       10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
    
        Spacing system (px)
        2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

  
 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px => 10px /16px =>62.5%
  box-sizing: border-box;

  @media (max-width: $bp-largest) {
    font-size: 56.25%; // 9px
  }

  @media (max-width: $bp-large) {
    font-size: 50%; // 8px
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1;
  font-size: 1.6rem;
  position: relative;
}

*:focus {
  outline: none;

  box-shadow: 0 0 0 0.3rem rgba($color-primary-light, 0.5);
}

::selection {
  background-color: $color-primary-light;
  color: $color-white;
}
