.container {
  max-width: 132rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.text-center {
  text-align: center !important;
}

// GRID
.grid {
  display: grid !important;
  gap: 2.4rem;
  // row-gap: 9.6rem;

  @media (max-width: $bp-small) {
    row-gap: 3.2rem;
    column-gap: 2.4rem;
  }

  @media (max-width: $bp-smallest) {
    column-gap: 1.2rem;
  }
}

// grid columns
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $bp-small) {
    grid-template-columns: 1fr;
  }
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: $bp-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $bp-small) {
    grid-template-columns: 1fr;
  }
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: $bp-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $bp-small) {
    grid-template-columns: 1fr;
  }
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.grid--6-cols {
  grid-template-columns: repeat(6, 1fr);
}

// grid rows

.grid--3-rows {
  grid-template-rows: repeat(3, 1fr);
}

// grid footer columns
.grid--footer {
  grid-template-columns: repeat(3, 2fr) 4fr;
  gap: 4rem;

  @media (max-width: $bp-medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $bp-small) {
    grid-template-columns: 1fr;
  }
}

// FLEXBOX
.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

// MARGIN
.mb-sm {
  margin-bottom: 2rem !important;
}

.mb-md {
  margin-bottom: 3rem !important;
}

.mb-lg {
  margin-bottom: 6rem !important;
}
.mb-hg {
  margin-bottom: 8rem !important;
}
